.lifepath.note .tox-tinymce {
    height: 100% !important;
    display: block;
}

.add-button {
    text-align:center;
    font-size: 20px;
    font-weight: bold;
    margin: 5px 5px;
    color: white;
    background-color: black;
}
.add-button:hover {
    color:black;
    background-color: gray;
    border: 1px solid black;
}

.remove-button {
    display:inline-block;
    width:20px;
    padding:3px 2px;
    margin-right:3px;
    text-align:center;
    font-weight: bold;
    color: white;
    background-color: black;
}

.remove-button:hover {
    color:black;
    background-color: gray;
    border: 1px solid black;
}

.lifepath-life-events {
    list-style: none;

    li div {
        display:inline-block;
    }

    .lp-year-col {
        width: 45px;
        vertical-align: top;
    }

    .lp-year-col input {
        width: 30px;
    }

    .lp-remove-col {
        width: 20xp;
    }

    .lp-desc-col {
        width: 80%;
    }
    .lp-desc-col textarea.lp-event-desc {
        width: 100%;
        height: 40px;
        vertical-align: top;
        text-align: left;
        resize: vertical;
    }
}

.family-siblings {
    list-style: none;
    .sibling-row { 
        div {
            display: inline-block;
        }

        .sibling-name-col {
            width: 150px;
        }
        .sibling-remove-col {
            width: 20px;
        }
        .sibling-age-col {
            text-align: center;
            width: 80px;
        }
        .sibling-gender-col {
            text-align: center;
            width: 80px;
        }

    }


}